<h1><%= "ðŸ¥ã‚’è¿½åŠ ã™ã‚‹" %></h1>
<ul class='nav justify-content-end'>
  <%= link_to 'ä¸€è¦§', item_icons_path, class: 'nav-link' %>
</ul>
<%= render partial: 'form', locals: { item_icon: @item_icon } %>

