<div id="infowindows" >
  <div id="k_windows" >
    <div id="k_window" class="row">
      <span id="k_name">Kanzume Title</span>
      <p id="k_address">address</p>
      <button id= "showkanzumebtn" class="windowbtn_s" style="float:left;">見てみる</button>
      <button id="additembtn" class="windowbtn_a" style="float:left;">アイテムを入れる</button>
    </div>
  </div>
  <div id="c_windows" >
    <div id="c_window" class="row">
      <p id="c_address">address</p>
      <button id="addkanzumebtn" class="windowbtn_a">Kanzumeを置く</button>
    </div>
  </div>
  <div id="sc_windows" >
    <div id="sc_window" class="row">
      <p id="sc_address">address</p>
      <button id="sc_addkanzumebtn" class="windowbtn_a">Kanzumeを置く</button>
    </div>
  </div>
   </div>
