<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBwVfFPbRIzMuOHE5p01Nm1K0Y8E4IK5IA&callback=initMap"></script>
    <style>
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map { height: 100% }
    </style>
</head>
<body>
    <%= link_to 'Kanzumeを追加', new_kanzume_path, class: 'btn btn-primary' %>
    <div id="map" style='position: relative; overflow: hidden;'></div>
    <script>
        var latlng = new google.maps.LatLng(35.66, 139.69);
        var options = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map'), options);

    </script>
</body>
</html>


