//= require_tree .
@import "materialize/components/color-variables";
$primary-color: color("teal", "lighten-1") !default;
$secondary-color: color("teal", "lighten-1") !default;
@import "materialize";
@import "material_icons";
nav {
    height: 80px;
    line-height: 80px;
}

.sidenav {
    opacity: 0.8;
}

img.bg {
    opacity: 0.3;
}

img.logo {
    position: relative;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
}

img.menu_icon {
    position: relative;
    top: 12px;
    width: 40px;
    height: 40px;
}

img.side_menu_icon {
    position: relative;
    top: 12px;
    right: 10px;
    width: 30px;
    height: 30px;
}

img.profile_icon {
    position: relative;
    top: 12px;
    width: 40px;
    height: 40px;
}