    // Place all the styles related to the kanzumes controller here.
    // They will automatically be included in application.css.
    // You can use Sass (SCSS) here: http://sass-lang.com/
    // index
    html {
        height: 100%;
    }
    
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .small-header {
        margin-bottom: 0px;
    }
    
    .pagenate {
        float: left
    }
    
    #page-entries-info {
        float: left;
        padding-top: 18px;
    }
    
    .contenteiner-searchsort {
        padding-top: 18px;
        padding-right: 20px;
        float: right;
    }
    
    #search-modal {
        padding: 30px;
    }
    
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    @media (min-width: 0px) {
        .card {
            height: 130px;
        }
    }
    
    @media (min-width: 1079px) {
        .card {
            height: 160px;
        }
    }
    
    .card {
        position: relative;
        height: 150px;
        padding: 10px;
    }
    
    .card .card-image img {
        width: 65px;
        position: absolute;
        left: 20px;
        top: 10px;
    }
    
    .card-name {
        display: table-cell;
        position: absolute;
        left: 95px;
        top: 40px;
        vertical-align: middle;
        text-align: center;
    }
    
    .card-name p {
        font-size: 11px;
        font-weight: bold;
        display: inline-block;
        text-align: left;
        margin-top: 0px;
        padding-right: 6px;
    }
    
    .card .card-content {
        position: relative;
        bottom: -68px;
    }
    
    .card-date {
        position: absolute;
        bottom: 10px;
        left: 20px;
    }
    
    .date {
        padding: 0px;
        font-size: 9px;
    }
    
    #edit_btn {
        float: right;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    
    @media screen and (max-width: 416px) {
        .card-name {
            display: table-cell;
            position: absolute;
            left: 8px;
            top: 80px;
            vertical-align: middle;
            text-align: center;
            font-size: 1rem;
            width: 136px;
        }
        .card .card-image img {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 20px;
            top: 10px;
        }
        #edit_btn {
            float: right;
            position: absolute;
            right: 15px;
            top: 15px;
        }
        .card-date {
            display: none;
        }
    }
    
    @media screen and (min-width: 321px) and (max-width: 425px) {
        #edit_btn {
            float: right;
            position: absolute;
            right: 10px;
            top: 8px;
        }
        .card-date {
            position: absolute;
            bottom: 0px;
            left: 20px;
        }
    }
    
    // show
    #kanzume_img {
        position: relative;
        top: 15px;
        margin-right: 10px;
    }
    
    #kanzume_user_img {
        width: 25px
    }
    
    #kanzume_user_name {
        position: relative;
        top: -6px;
        left: 5px;
    }
    
    #map {
        height: 150px;
        width: 300px;
    }
    
    .item_add_btn {
        margin-bottom: 15px;
    }
    
    #item_img {
        width: 50px;
    }
    
    .card .card-title {
        font-size: 0.8rem;
    }
    
    #item_user_img {
        width: 50px;
    }
    
    #item_date {
        font-size: 10px;
        float: right;
    }
    
    #show_card_memo {
        padding: 5px 5px;
    }
    
    .item_memo {
        font-size: 1px;
        font-weight: lighter;
        line-height: 12px;
    }
    
    @media screen and (max-width: 340px) {
        .item_name {
            width: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .item_memo {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    @media screen and (min-width: 341px) and (max-width: 550px) {
        .item_memo {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    //form
    #delete_btn {
        float: right;
        position: relative;
        bottom: 36px;
    }