html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#mapbox {
    width: 100%;
    height: 100%;
    position: relative;
    top: 80px;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#test_login_btn {
    position: absolute;
    top: 23px;
    right: 90px;
    z-index: 2;
    opacity: 0.9;
}

#currentPosition {
    position: absolute;
    top: 15px;
    right: 1%;
    z-index: 2;
}

#searchWindowBtn {
    position: absolute;
    top: 85px;
    right: 1%;
    z-index: 2;
}

.row {
    margin-bottom: auto;
    padding: 15px;
}

#k_address,
#c_address,
#sc_address {
    margin-left: 3px;
    font-size: 0.8em;
}

#k_name {
    margin-left: 3px;
    font-size: 1.25em;
    font-weight: bold;
}

.gm-style .gm-style-iw-t::after {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 50%, rgba(167, 17, 17, 0) 51%, rgba(255, 255, 255, 0) 100%);
}

.gm-style .gm-style-iw-c {
    background-color: #ffffff;
    padding: 0px;
    box-shadow: 0 5px 10px 4px rgba(43, 42, 42, 0.3);
}

.gm-style-iw div {
    overflow: hidden !important;
}

.windowbtn_a {
    position: relative;
    display: block;
    width: 135px;
    height: 38px;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background: #26a69a;
    border-radius: 5px;
    overflow: hidden;
}

.windowbtn_a:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -150px;
    height: 100%;
    width: 160px;
    background: #fff;
    opacity: 0.3;
    transition: .4s;
}

.windowbtn_a:hover:before {
    left: 0;
}

.windowbtn_s {
    display: block;
    margin-right: 15px;
    width: 80px;
    height: 38px;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #26a69a;
    border: 2px solid #26a69a;
    border-radius: 5px;
    transition: .4s;
}

.windowbtn_s:hover {
    background: #26a69a;
    color: #fff;
}

.about-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 700px;
    margin-top: 80px;
    background: #26a69a;
}

.white-text {
    padding: 20px;
}

.about-box {
    height: 1200px;
    padding: 100px 20px;
    background: #26a69a;
}

.concept-box {
    padding: 0px 20px 20px 20px;
}

.concept-text {
    font-size: 1.2rem;
    width: 84%;
}

.concept_chef-cans img {
    width: 100%;
    bottom: 30px;
}

.slider .slides {
    border-radius: 6px 6px 0px 0px;
}

.slider .slides li {
    border-radius: 6px 6px 0px 0px;
}

.instruction-box {
    margin-top: 66px;
}

.instruction-box .content {
    font-size: 1.2rem;
    position: relative;
    bottom: 40px;
}

.instruction-box p {
    text-align: left;
    position: relative;
    top: 123px;
}

.instruction-box img {
    width: 16rem !important;
    border-radius: 1rem;
    position: relative;
    top: 20px;
}

#instruction-join-btn {
    float: left;
    position: relative;
    top: 103px;
    left: 20px;
}

img.start_chef {}

.slider .indicators {
    position: absolute;
    bottom: 7px !important;
}

.slider .indicators .indicator-item.active {
    background-color: #26a69a;
}

@media (max-width: 600px) {
    .about-box {
        height: 218%;
    }
    .concept-text {
        font-size: 1.2rem;
        width: 100% !important;
    }
    .concept_chef-cans img {
        width: 16rem !important;
        border-radius: 3rem;
        position: relative;
        bottom: 9px;
    }
    .instruction-box p {
        font-size: 0.9rem;
        text-align: left;
        position: relative;
        top: 35px;
    }
    .instruction-box img {
        width: 13rem !important;
        border-radius: 1rem;
        position: relative;
        bottom: 40px;
    }
    #instruction-join-btn {
        float: left;
        position: relative;
        top: 6px;
        left: 20px;
    }
}

@media (min-width: 1450px) {
    .about-box {
        height: 1600px;
    }
}