<h1>ЁЯелуБоч╖ищЫЖ</h1>
<ul class='nav justify-content-end'>
  <%= link_to 'ф╕Ашжз', kanzume_icons_path, class: 'nav-link' %>
</ul>

<%= render partial: 'form', locals: { kanzume_icon: @kanzume_icon } %>