<h1><%= "ðŸ¥«ã‚’è¿½åŠ ã™ã‚‹" %></h1>
<ul class='nav justify-content-end'>
  <%= link_to 'ä¸€è¦§', kanzume_icons_path, class: 'nav-link' %>
</ul>
<%= render partial: 'form', locals: { kanzume_icon: @kanzume_icon } %>

